<!-- MainMenu-Area -->
<nav class="mainmenu-area" data-spy="affix" data-offset-top="200">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#primary_menu">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <!-- <a class="navbar-brand" href="#"><img src="images/logo.png" alt="Logo"></a> -->
            <a class="navbar-brand" href="#"><img src="assets/images/header-logo-cluby.png" alt="Logo"></a>
        </div>
        <div class="collapse navbar-collapse" id="primary_menu">
            <ul class="nav navbar-nav mainmenu">
                <li class="active"><a href="#home_page">Inicio</a></li>
                <li><a href="#about_page">Sobre Cluby</a></li>
                <li><a href="#features_page">Servicios</a></li>
                <!-- <li><a href="#gallery_page">Gallery</a></li> -->
                <li><a href="#price_page">Planes</a></li>
                <!-- <li><a href="#questions_page">FAQ</a></li> -->
                <!-- <li><a href="blog.html">Blog</a></li> -->
                <li><a href="#contact_page">Contáctanos</a></li>
            </ul>
            <!-- <div class="right-button hidden-xs">
                <a href="#">Sign Up</a>
            </div> -->
        </div>
    </div>
</nav>
<!-- MainMenu-Area-End -->
<!-- Home-Area -->
<header class="home-area overlay" id="home_page">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 hidden-sm col-md-5">
                <figure class="mobile-image wow fadeInUp" data-wow-delay="0.2s">
                    <img src="assets/images/header3-cluby.png" alt="">
                </figure>
            </div>
            <div class="col-xs-12 col-md-7">
                <div class="space-40 hidden-xs"></div>
                <h1 class="wow fadeInUp" data-wow-delay="0.4s"><strong>Comienza tus clases y asesorías virtuales desde casa con Cluby.</strong></h1>
                <div class="space-20"></div>
                <div class="desc wow fadeInUp" data-wow-delay="0.6s">
                    <p>En tiempos de cuarentena no dejemos de aprender. Escoge las áreas y nosotros te acompañamos en tu aprendizaje.</p>
                </div>
                <div class="space-20"></div>
                <a href="#price_page" class="bttn-white wow fadeInUp" data-wow-delay="0.6s"><i class="fas fa-clipboard-list"></i> Revisar planes</a>
                <div class="space-60"></div>
            </div>
        </div>
    </div>
</header>
<!-- Home-Area-End -->
<!-- About-Area -->
<section class="section-padding" id="about_page">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-md-10 col-md-offset-1">
                <div class="page-title text-center">
                    <img src="assets/images/about-cluby-min.png" alt="About Logo">
                    <div class="space-20"></div>
                    <h5 class="title">Somos Cluby</h5>
                    <div class="space-30"></div>
                    <h3 class="blue-color">Porque nunca dejamos de aprender nace Cluby, un servicio de educación online dirigido a estudiantes en etapa escolar (primaria y secundaria) </h3>
                    <div class="space-20"></div>
                    <p>Buscamos ser el apoyo y complemento perfecto para todos nuestros alumnos y padres de familia mediante un método educativo didáctico que les permitiran potenciar y reforzar
                        sus conocimientos en las diferentes áreas. Sigue aprendiendo con Cluby!
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- About-Area-End -->
<!-- Feature-Area -->
<section class="feature-area section-padding-top" id="features_page">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-8 col-sm-offset-2">
                <div class="page-title text-center">
                    <h5 class="title">Servicios</h5>
                    <div class="space-10"></div>
                    <h3>Nos adaptamos según lo que necesites</h3>
                    <div class="space-60"></div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-sm-6 col-md-6">
                <div class="service-box wow fadeInUp" data-wow-delay="0.2s">
                    <div class="box-icon">
                        <i class="fas fa-laptop-house"></i>
                    </div>
                    <h4 class="h3">Cluby School</h4>
                    <p>Clases virtuales en vivo con método didáctico de enseñanza. Avanzamos según el grado en que tu niño se encuentre. Nivel escolar</p>
                </div>
                <div class="space-20"></div>
                <div class="service-box wow fadeInUp" data-wow-delay="0.4s">
                    <div class="box-icon">                            
                        <i class="fas fa-chalkboard-teacher"></i>
                    </div>
                    <h4  class="h3">Asesorías virtuales</h4>
                    <p>Apoyo en realización de tareas y reforzamiento en las áreas que decidas. Nivel escolar/preuniversitario</p>
                </div>
                <div class="space-20"></div>
                <div class="service-box wow fadeInUp" data-wow-delay="0.6s">
                    <div class="box-icon">
                        <i class="fas fa-brain"></i>
                    </div>
                    <h4  class="h3">Capacitaciones en herramientas informáticas</h4>
                    <p>Capacitación virtual dirigida a docentes y/o público interesado en conocer las herramientas tecnológicas actuales 
                        para mejorar su desenvolvimiento en el ámbito digital</p>
                </div>
                <div class="space-60"></div>
            </div>
            <div class="hidden-xs hidden-sm col-md-6">
                <figure class="mobile-image">
                    <img src="assets/images/feature2-cluby.png" alt="Feature Photo">
                </figure>
            </div>
        </div>
    </div>
</section>
<!-- Feature-Area-End -->
<!-- Testimonial-Area -->
<section class="testimonial-area" id="testimonial_page">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <div class="page-title text-center">
                    <h5 class="title">Testimonios</h5>
                    <h3 class="dark-color">Nuestros clientes te comparten su experiencia de trabajo con nosotros</h3>
                    <div class="space-60"></div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <div class="team-slide">
                    <div class="team-box">
                        <div class="team-image">
                            <img src="assets/images/tt-2.jpg" alt="">
                        </div>
                        <h4>Maria Quispe</h4>
                        <h6 class="position">Madre de familia</h6>
                        <p class="text-justify">Con el servicio de asesorías virtuales, mi hijo logró superar las dificultades que tenía para realizar sus tareas. Agradezco a Cluby por el servicio personalizado que brinda</p>
                    </div>
                    <div class="team-box">
                        <div class="team-image">
                            <img src="assets/images/tt-3.jpg" alt="">
                        </div>
                        <h4>Alejandro Aliaga</h4>
                        <h6 class="position">Docente</h6>
                        <p class="text-justify">Soy docente con mas de 20 años de experiencia en las aulas y gracias a Cluby pude reforzar mis conocimientos sobre las diferentes herramientas digitales
                            que hoy son muy significativas para mi labor como educador</p>
                    </div>
                    <div class="team-box">
                        <div class="team-image">
                            <img src="assets/images/tt-4.jpg" alt="">
                        </div>
                        <h4>Roberto Sanchez</h4>
                        <h6 class="position">Padre de familia</h6>
                        <p class="text-justify">En estos tiempos Cluby se presentó como una alternativa interesante de llevar el colegio a la casa a través de la enseñanza virtual. Estoy contento porque 
                            veo como en cada sesión mi hijo aprende.
                        </p>
                    </div>
                    <div class="team-box">
                        <div class="team-image">
                            <img src="assets/images/tt-1.jpg" alt="">
                        </div>
                        <h4>Elizabeth Carbajal</h4>
                        <h6 class="position">Estudiante</h6>
                        <p class="text-justify">Siempre he tenido dificultades con matemáticas en la academia. Los profesores de Cluby me han ayudado a entender de manera sencilla esta área que para muchos puede ser es un dolor de cabeza</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Testimonial-Area-End -->
<!-- How-To-Use -->
<section class="section-padding">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-6">
                <div class="page-title">
                    <h5 class="title wow fadeInUp" data-wow-delay="0.2s">Nuestro Enfoque</h5>
                    <div class="space-10"></div>
                </div>
                <div class="space-20"></div>
                <div class="desc wow fadeInUp" data-wow-delay="0.6s">
                    <!-- <p>Lorem dunt ut labore et laborused.</p> -->
                    <figure class="mobile-image">
                        <img src="assets/images/enfoque-cluby.png" alt="Foto enfoque">
                    </figure>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-5 col-md-offset-1">
                <div class="space-60 hidden visible-xs"></div>
                <div class="service-box wow fadeinup" data-wow-delay="0.2s">
                    <div class="box-icon">
                        <strong>I</strong>
                    </div>
                    <h4><strong>Educación</strong></h4>
                    <p class="text-justify">Cluby ofrece un modelo educativo didáctico centrado en el alumno. buscamos optimizar el servicio en cada acción que se asume en la labor educativa
                    </p>
                </div>
                <div class="space-50"></div>
                <div class="service-box wow fadeinup" data-wow-delay="0.2s">
                    <div class="box-icon">
                        <strong>II</strong>
                    </div>
                    <h4><strong>Enseñanza</strong></h4>
                    <p class="text-justify">Los maestros de cluby se encargan de dirigir el proceso de aprendizaje a través de la orientación, estímulo y apoyo a los alumnos</p>
                </div>
                <div class="space-50"></div>
                <div class="service-box wow fadeinup" data-wow-delay="0.2s">
                    <div class="box-icon">
                        <strong>III</strong>
                    </div>
                    <h4><strong>Aprendizaje</strong></h4>
                    <p class="text-justify">Cluby se adapta a las habilidades de cada alumno y desarrolla actividades significativas para llegar a su aprendizaje</p>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- How-To-Use-End -->
<!--Price-Area -->
<section class="section-padding price-area" id="price_page">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <div class="page-title text-center">
                    <h5 class="title">Planes</h5>
                    <h3 class="dark-color">Elige tu plan y comienza tus clases</h3>
                    <h5 class="dark-color">(Solo aplica para Cluby School)</h5>
                    <div class="space-60"></div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-sm-6">
                <div class="price-box">
                    <div class="price-header">
                        <div class="price-icon">
                            <i class="fas fa-rocket"></i>
                        </div>
                        <h4 class="upper">Cluby Sesión</h4>
                    </div>
                    <div class="price-body">
                        <ul>
                            <li><i class="fas fa-check"></i> 1 sesión (60 minutos)</li>
                            <li><i class="fas fa-check"></i> Clase online en vivo con docente</li>
                            <li><i class="fas fa-check"></i> Seguimiento del aprendizaje</li>
                            <li><i class="fas fa-check"></i> Método lúdico adaptable al ritmo del alumno </li>
                            <li><i class="fas fa-check"></i> Acceso desde la computadora o teléfono </li>
                            <li><i class="fas fa-check"></i> Nivel escolar (primaria y secundaria) </li>
                        </ul>
                    </div>
                    <div class="price-rate">
                        <sup>S/.</sup> <span class="rate">29.9</span> <small>/Día</small>
                    </div>
                    <!-- <div class="price-footer">
                        <a href="#" class="bttn-white">Purchase</a>
                    </div> -->
                </div>
                <div class="space-30 hidden visible-xs"></div>
            </div>
            <div class="col-xs-12 col-sm-6">
                <div class="price-box">
                    <div class="price-header">
                        <div class="price-icon">
                            <!-- <span class="lnr lnr-diamond"></span> -->
                            <i class="fas fa-gem"></i>
                        </div>
                        <h4 class="upper">Cluby Mes</h4>
                    </div>
                    <div class="price-body">
                        <ul>
                            <li><i class="fas fa-check"></i> 4 sesiones (60 minutos c/Sesión)</li>
                            <li><i class="fas fa-check"></i> Clase online en vivo con docente</li>
                            <li><i class="fas fa-check"></i> Infografía - resumen de la clase</li>
                            <li><i class="fas fa-check"></i> Tareas y ejercicios didácticos</li>
                            <li><i class="fas fa-check"></i> Seguimiento del aprendizaje</li>
                            <li><i class="fas fa-check"></i> Entrada exclusiva a la comunidad de Cluby</li>
                            <li><i class="fas fa-check"></i> Método lúdico adaptable al ritmo del alumno </li>
                            <li><i class="fas fa-check"></i> Acceso desde la computadora o teléfono </li>
                            <li><i class="fas fa-check"></i> Nivel escolar (primaria y secundaria) </li>
                        </ul>
                    </div>
                    <div class="price-rate">
                        <sup>S/.</sup> <span class="rate">99.9</span> <small>/Mes</small>
                    </div>
                    <!-- <div class="price-footer">
                        <a href="#" class="bttn-white">Purchase</a>
                    </div> -->
                </div>
                <div class="space-30 hidden visible-xs"></div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <div class="page-title text-center">
                    <div class="space-60"></div>
                    <h3 class="dark-color">¡TODOS LOS PLANES INCLUYEN EVALUACIÓN INICIAL <strong>GRATUITA</strong>!</h3>
                </div>
            </div>
        </div>
    </div>
</section>
<!--Price-Area-End -->
<!-- Subscribe-Form -->
<!-- <div class="subscribe-area section-padding">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-8 col-sm-offset-2">
                <div class="subscribe-form text-center">
                    <h3 class="blue-color">Si estás interesado(a) en algún servicio o tienes alguna consulta, escríbenos :)</h3>
                    <div class="space-20"></div>
                    <form [formGroup]="signupForm" (ngSubmit)="enviar(signupForm.value)">
                        <div class="form-group">
                            <input formControlName="correo" type="email" class="control" placeholder="Ingresa tu correo electrónico">
                            <div class="error-form" *ngIf="signupForm.get('correo').hasError('email') && signupForm.get('correo').touched">Debes ingresar tu correo electrónico</div>
                        </div>
                        <div class="form-group">
                            <input formControlName="nombre" type="text" class="control" placeholder="Ingresa tu nombre">
                            <div class="error-form" *ngIf="signupForm.get('nombre').hasError('required') && signupForm.get('nombre').touched">Debes ingresar tu nombre</div>
                        </div>
                        <div class="form-group">
                            <textarea formControlName="comentario" class="control" placeholder="Ingresa tu comentario..." rows="3"></textarea>
                            <div class="error-form" *ngIf="signupForm.get('comentario').hasError('required') && signupForm.get('comentario').touched">Debes ingresar tu comentario</div>
                        </div>
                        <button [disabled]="signupForm.invalid" type="submit" class="bttn-default">
                            <i class="fas fa-location-arrow"></i> 
                            Enviar
                        </button>
                        <label class="mt10" for="mc-email"></label>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div> -->
<!-- Subscribe-Form-Area -->
<!-- Footer-Area -->
<footer class="footer-area" id="contact_page">
    <div class="section-padding">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <div class="page-title text-center">
                        <h5 class="title">Contáctanos</h5>
                        <h3 class="dark-color">Encuéntranos a través de los medios de abajo</h3>
                        <div class="space-60"></div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12 col-sm-4">
                    <div class="footer-box">
                        <div class="box-icon">
                            <i class="fab fa-facebook"></i>
                        </div>
                        <!-- <p>Cluby: clases online</p> -->
                        <a href="https://www.facebook.com/Cluby-clases-online-111204267227420" target="_blank">Cluby: clases online</a>
                    </div>
                    <div class="space-30 hidden visible-xs"></div>
                </div>
                <div class="col-xs-12 col-sm-4">
                    <div class="footer-box">
                        <div class="box-icon">
                            <span class="fab fa-whatsapp"></span>
                        </div>
                        <a href="https://wa.me/51961515095" target="_blank">+51 961515095</a><br />
                        <a href="https://wa.me/51920229989" target="_blank">+51 920229989</a>
                    </div>
                    <div class="space-30 hidden visible-xs"></div>
                </div>
                <div class="col-xs-12 col-sm-4">
                    <div class="footer-box">
                        <div class="box-icon">
                            <span class="fas fa-envelope"></span>
                        </div>
                        <a href="javascript:void(0)">holacluby@gmail.com</a><br />
                        <a href="javascript:void(0)">jantonio.alvarezd95@gmail.com</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Footer-Bootom -->
    <div class="footer-bottom">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-md-5">
                    <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
        <span class="custom-span">Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="fas fa-heart"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a></span>
        <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                    <div class="space-30 hidden visible-xs"></div>
                </div>
                <div class="col-xs-12 col-md-7">
                    <div class="footer-menu">
                        <ul>
                            <li><a href="#home_page">Inicio</a></li>
                            <li><a href="#about_page">Sobre Cluby</a></li>
                            <li><a href="#features_page">Servicios</a></li>
                            <li><a href="#price_page">Planes</a></li>
                            <li><a href="#contact_page">Contáctanos</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Footer-Bootom-End -->
</footer>
<!-- Footer-Area-End -->